---
layout: base
---

<header class="site-header">
  <nav class="controls">
    <a href='#1' data-section='title' class="control">Titles</a>
    <a href='#1' data-section='description' class="control">Texts</a>
    <a href='#1' data-section='author' class="control">People</a>
    <a href='#1' data-section='images' class="control">Images</a>
    <a href='#1' data-section='comments' class="control">Comments</a>
  </nav>

  <nav class="site-auth">
    <a id='js-signin' class='auth-signin' href="#" onclick="signOut();">Sign in with Google</a>
    <span class="auth-user"></span>
    <a class='auth-signout' href="#" onclick="signOut();">(Sign out)</a>
  </nav>
</header>

<div class="lightbox">
  <figure>
    <img src="https://i.picsum.photos/id/365/500/300.jpg" alt="" class="lightbox-image">
    <figcaption>Image caption goes here</figcaption>
  </figure>
</div>


<ul class="site-users"></ul>
<main class="works">
  <div class="site-title">
    <h1>Typographic Singularity 20</h1>
  </div>
  {% for p in projects %}
  <div class="work" data-project="{{p.id}}">
    <section class="work-section work-title">
      <div class="section-content">
        <h2>{{p.title}}</h2>
      </div>
      <button class='section-expand'>Expand</button>
    </section>
    <section class="work-section work-description">
      <div class="section-content">
        {{p.description}}
      </div>
      <button class='section-expand'>Expand</button>
    </section>
    <section class="work-section work-author">
      <div class="section-content">
        <h2>{{p.name}}<a href="{{p.website}}">(Website)</a></h2>
      </div>
      <button class='section-expand'>Expand</button>
    </section>
    <section class="work-section work-images">
      <div class="section-content">
        <figure>
          <img src="https://picsum.photos/500/300" alt="n">
        </figure>
      </div>
      <button class='section-expand'>Expand</button>
    </section>
    <section class="work-section work-comments">
      <div class="test-comments">
        <ul class="comments" id='comment-list'></ul>
        <div class="comment-form" data-project="{{p.id}}">
          <input type="text" name="" id="comment-input-{{p.id}}" />
          <button class="comment-submit">Send</button>
        </div>
      </div>
    </section>
  </div>
  {% endfor %}
</main>