.comment-form {
    //display: none;
    display: inline;

    .signed-in & {
        display: inline;
    }

    .input {
        cursor: text;
        border: 1px solid var(--text);
        font-size: .8em;
        display: inline-block;
        letter-spacing: .08em;
        vertical-align: middle;
        border-radius: 5px;
        padding: .1em .3em;
        margin-right: .2em;
        margin-left: .2em;
        position: relative;
        top: -.1em;
    }

    button {
        color: inherit;
        background: transparent;
        padding: 0;
        transform: skewX(-20deg);
        border: 0;
        display: inline;
        appearance: none;
        cursor: pointer;
        font-family: var(--sans);
    }

}

.comments {
    display: inline;
}

.comment {
    list-style: none;
    display: inline;
    margin-right: .5em;
}

.comment:before {
    content: "[";
}

.comment:after {
    content: "]";
}

.comment-meta {
    display: none;
    font-size: .8rem;
}

.comment-date {
    display: none;
}