.comment-form {
    //display: none;
    .signed-in & {
        display: inline-block;
    }

    input {
        border: 0;
        appearance: none;
        border-bottom: 2px solid var(--black);
    }
    button {
        background: var(--black);
        color: white;
        font-size: var(--ms-2);
        border: 0;
        padding: .2em;
        appearance: none;
        cursor: pointer;
        font-family: var(--sans);
    }

}

.comment {
    list-style: none;
    display: inline;
    margin-right: .5em;
}

.comment:before {
    content: "(";
}

.comment:after {
    content: ")";
}

.comment-meta {
    display: none;
    font-size: .8rem;
}

.comment-date {
    display: none;
}