.pv {
    display: inline;
    * {
        color: var(--yellow);
    }
}

.pv-stream {
    background-color: var(--yellow);
    width: 10em;
    height: 6em;
    display: inline-block;
    vertical-align: top;
}