.site-title {
    display: inline;
    word-break: break-word;
    hyphens: auto;

    h1, h2 {
        display: inline;
    }
}

nav ul {
    list-style: none;
}

.icon {
    display: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

.site-users {
    display: none;
}

.auth-signout,
.user-profile {
    display: none;
}

.site-auth {
    display: inline;
}

.signed-in .auth-signout,
.signed-in .user-profile {
    display: inline;
}

.signed-in .auth-signin {
    display: none;
}

.controls {
    a {
        display: inline-flex;
        transform: skewX(-20deg);
        &:hover {
            color: var(--black-hover);
        }
    }
    display: inline;
}

.control {
    &.active {
        color: var(--black-hover);
    }
}