.site-title {
    margin-right: .1em;
    display: inline-block;
    color: var(--highlight);
}

nav ul {
    list-style: none;
}

.icon {
    display: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

.site-users {
    display: none;
}

.auth-signout,
.user-profile {
    display: none;
}

.site-auth {
    display: inline;
    color: var(--highlight);
}

.signed-in .auth-signout,
.signed-in .user-profile {
    display: inline;
}

.signed-in .auth-signin {
    display: none;
}

.controls {
    margin-right: 4em;
    a {
        color: var(--highlight);
        display: inline-flex;
        transform: skewX(-20deg);
        &:hover {
            text-decoration: line-through;
        }
    }
    display: inline;
}

.control {
    &.active {
        text-decoration: line-through;
    }
}