@font-face {
    font-family: haas;
    src: url(/assets/NeueHaasGrotDisp-25XThin.otf) format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: quintain;
    src: url(/assets/Quintain-Regular.otf) format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: benton;
    src: url(/assets/BentonSans_carved.otf) format('opentype');
    font-weight: 100;
}

:root {
    --sans: haas;
    --highlight: #ffffff;
    --black: black;
    --border-radius: 6px;
    --black-hover: rgb(90, 90, 90);
    --lightgray: #fbfbfb;
    --ratio: 1.25; //Major 3
    --ms-0: clamp(.9rem, calc(.6vw + .6vh), 1.3rem);
    --ms--1: calc(var(--ms-0) / var(--ratio));
    --ms-1: calc(var(--ms-0) * var(--ratio));
    --ms-2: calc(var(--ms-1) * var(--ratio));
    --ms-3: calc(var(--ms-2) * var(--ratio));
    --ms-4: calc(var(--ms-3) * var(--ratio));
    --ms-5: calc(var(--ms-4) * var(--ratio));
    --ms-6: calc(var(--ms-5) * var(--ratio));
    --ms-7: calc(var(--ms-6) * var(--ratio));
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}