.works {
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.work {
    font-size: var(--ms-5);
    margin-right: .1em;
    margin-bottom: .1em;

    h2,
    button,
    .work-section,
    .section-content,
    p,
    figure {
        display: inline;
    }
}

.work-section:not(.work-open) {
    display: none;
}

.work-section.open {
    display: inline;
}

.work-images {
    img {
        height: 1em;
    }
}

.section-content {
    flex-grow: 1;
}

.section-expand {
    background: black;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
    padding: .25em .5em;
    border-radius: var(--border-radius);
    color: white;

    &:hover,
    &:focus {
        background: var(--black-hover);
    }
}

.controls {}

.control {
    &.active {
        font-weight: bold;
    }
}