.works {
    display: block;
    width: 95vw;
    text-align: justify;
    font-size: var(--ms-5);
}

.work {
    margin-right: .2em;
    hyphens: auto;
    display: inline;

    h2,
    .section-content,
    p,
    div,
    figure {
        display: inline;
        cursor: zoom-in;
    }
}

.work-section {
    display: none;
    transition: 400ms;
}

.work-section.open {
    display: inline;
}

.work-images {
    img {
        height: 1em;
        filter: grayscale(1);
    }
}

.bracket {
    cursor: pointer;
    appearance: none;
    background: none;
    border: 0;
}