.works {
    display: block;
    width: 95vw;
    text-align: left;
    font-size: var(--ms-6);
    letter-spacing: .03em;
    line-height: .96;
}

.work {
    hyphens: auto;
    display: inline;
    object {
        background: white;
    }

    h2,
    .section-content,
    p,
    div,
    figure, nav {
        display: inline;
        cursor: zoom-in;
    }

    figure {
        margin-right: .2em;
        vertical-align: middle;
    }
    .toggleTypeface {
        appearance: none;
        background: none;
        border: 0;
        cursor: pointer;
        font-family: inherit;
        &.active, &:hover {
            text-decoration: line-through;
        }
    }
}

.work-section {
    display: inline;
    cursor: pointer;
    &:hover, &:focus {
        color: var(--black-hover)
    }
}

.work-images, .work-comments {
    display: none;
    &.open {
        display: inline;
    }
    img {
        height: .8em;
        transition: 200ms;
        border-radius: 100px;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }
}

.bracket {
    appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    font-weight: 100;
    line-height: 1;
    display: inline;
    color: inherit;
}

.close-bracket {
    margin-right: 4em;
}