@import "vars";
@import "global";
@import "site";
@import "work";
@import "comments";
@import "lightbox";

@media only screen and (max-width: 600px) {
    .icon {
        display: block;
        right: 1rem;
        position: fixed;
    }

    .controls #myLinks {
        display: none;
    }

    .site-auth {
        display: none;
    }

    .controls {
        overflow: hidden;
        position: relative;
    }

    nav ul li {
        display: block;
    }
}