<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Typographic Singularity 2020" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <title>Typographic Singularity 2020</title>
</head>

<body>
    {{ content | safe }}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/site.js"></script>
    <script>
        try{
            var socket = io();
        } catch {
            console.log('no socket')
        }
    </script>
</body>

</html>