<div class="pv">
    <span>{% brackets "[", 3 %}Open Private View{% brackets "]", 3 %}</span>
    <span>{% brackets "[", 3 %}Sunday June 14th, 16–22BST{% brackets "]", 3 %}</span>
    <span>{% brackets "{", 3 %}Programme{% brackets "}", 3 %}</span>
    <div class="pv-stream"></div>
    <span>{% brackets "{", 3 %}Livestream{% brackets "}", 3 %}</span>
    <span>{% brackets "{", 3 %}Guest Responses{% brackets "}", 3 %}</span>
</div>