<div class="pv">
    <span>{% brackets "[", 3 %}Open View{% brackets "]", 3 %}</span>
    <span>{% brackets "[", 3 %}Tuesday, June 16th{% brackets "]", 3 %}</span>
    <div class="pv-stream"></div>
    <span>{% brackets "{", 3 %}{% link "http://www.youtube.com" %}Livestream{% endlink %}{% brackets "}", 3 %}</span>
</div>