{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split : "" %}

<style>
    .letter {
        display: none;
    }

    .letter[data-letter='A'],
    .letter.open {
        display: inline;
    }
</style>

<div class="roland">
    {% for letter in alphabet %}
{% brackets "[", 1 %}<span class="letter" data-letter="{{letter}}">
        <button class="letter-expand">
            {{letter}}
        </button>
        {% endfor %}
        {% for letter in alphabet %}
    </span>{% brackets "[", 1 %}
    {% endfor %}
</div>